  <form class="fill-up">
        <div class="row-fluid">

          <div class="span6">

            <div class="padded">

              <div class="input">
                Cliente
                 <select name="clientes_id" id="clientes_id"  data-rel="clientes" class="fill-up" requeired></select>
              </div>
              <div class="input">
                Vendedor
                <select name="vendedores_id" id="vendedores_id"  data-rel="vendedores" class="fill-up"></select>
              </div>

            </div>

          </div>

          <div class="span6">

            <div class="padded">

              <div class="input">
                Prazo A
                <select name="prazos_idA" id="prazos_idA"  data-rel="prazos" class="fill-up"></select>
              </div>
              <div class="input">
                Prazo B
                <select name="prazos_idB" id="prazos_idB"  data-rel="prazos" class="fill-up"></select>
              </div>

            </div>

          </div>

        </div>

      <div class="row-fluid">

          <div class="span12">

            <div class="padded" style="padding-top:0px">

              <h5>Itens do pedido</h5>

              <div id="body_ped">
                




              </div>

              


            </div>

          </div>

         

        </div>


       
</form>



