<div class="row-fluid">
  <div class="span7">
    <input type="text" id="ped_item" class="input-transparent fill-up" value="">
  </div>
  <div class="span2">
     <input type="text" id="ped_qtd" class ="input-transparent fill-up" value="">
  </div>
  <div class="span2">
     <input type="number" id="ped_valor" class="input-transparent fill-up" value="">
  </div>


  <div class="span1">
    <a class="button mini rounded green add_prod"> <i class="icon-plus"></i> </a>
    <a class="button mini rounded red del_prod" style="display:none"> <i class="icon-minus"></i> </a>
  </div>
</div>