  <form id="form_produtos" class="fill-up">
    
      <div class="row-fluid">

        <div class="span6">

          <div class="padded">

            <div class="input">
              Codigo
              <input type="text" name="id_prod" id="id_prod" required>
            </div>
            <div class="input">
              Nome
              <input type="text" name="nm_prod" id="nm_prod" required >
            </div>
            <div class="input">
              Quantidade
              <input type="text" name="qt_prod" id="qt_prod" required >
            </div>
             <div class="input">
              Valor
              <input type="text" name="vl_prod" id="vl_prod" required >
            </div>
            <div class="input">
              Tipo
              <select name="tp_prod" id="tp_prod"  class="fill-up">
                    <option value="1">Fabricacao Propria</option>
                    <option value="2">Papel</option>
                    <option value="3">Revenda</option>
              </select>
            </div>

          </div>

        </div>

        <div class="span6">

          <div class="padded">

            <div class="input">
              Codigo de barrasd
              <input type="text" name="id_ean" id="id_ean">
            </div>

            <div class="input">
              Categoria
              <select name="prod_cat" id="prod_cat"  data-rel="produtos_cat" class="fill-up"></select>
            </div>

            <div class="input">
              Medidas
              <input type="text" name="nu_med" id="nu_med" required>
            </div>

          </div>

        </div>

    </div>
     
    </form>


