<li>
    <a data-bone="true" href="#cadastros/produtos" id="produto">
        <i class="icon-star"></i> Produtos
    </a>
</li>

<li>
     <a data-bone="true" href="#cadastros/clientes" id="clientes">
        <i class="icon-user"></i> Clientes
    </a>
</li>

<li>
     <a data-bone="true" href="#cadastros/vendedores" id="vendedores">
        <i class="icon-thumbs-up"></i> Vendedores
    </a>
</li>

<li>
     <a data-bone="true" href="#cadastros/transportadoras" id="transportadoras">
        <i class="icon-download-alt"></i> Transportadoras
    </a>
</li>

<li>
     <a data-bone="true" href="#cadastros/fornecedores" id="fornecedores">
        <i class="icon-download-alt"></i> Fornecedores
    </a>
</li>

<!-- <li>
     <a data-bone="true" href="#cadastros/cheques" id="cheques">
        <i class="icon-credit-card"></i> Cheques
    </a>
</li> -->





<li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt"></i>Configuracoes <span class="caret"></span></a>

      <ul class="dropdown-menu">


        <li>
             <a data-bone="true" href="#cadastros/prazos" id="prazos">
                <i class="icon-info-sign"></i> Prazos
            </a>
        </li>

         <li>
             <a data-bone="true" href="#cadastros/simples" id="simples">
                <i class="icon-cog"></i> Simples
            </a>
        </li>

        <li>
             <a data-bone="true" href="#cadastros/produtos_cat" id="produtos_cat">
                <i class="icon-cog"></i> Categoria de produtos
            </a>
        </li>


        

      </ul>
    </li>