<li id="vendas">
    <a data-bone="true" href="#vendas/ped">
        <i class="icon-edit"></i> Pedidos <!-- <span class="badge-success badge">6</span> -->
    </a>
</li>


<!-- <li id="compras">
    <a data-bone="true" href="#compras">
        <i class="icon-random"></i> Expedicao <span class="badge badge-warning"></span>
    </a>
</li> -->


<!-- <li id="compras">
    <a data-bone="true" href="#compras">
        <i class="icon-random"></i> Emitir NF <span class="badge badge-warning"></span>
    </a>
</li>


<li id="compras">
    <a data-bone="true" href="#compras">
        <i class="icon-random"></i> Compras <span class="badge badge-warning"></span>
    </a>
</li>

<li id="fabrica">
    <a data-bone="true" href="#fabrica">
        <i class="icon-beaker"></i> Fabricaçao
    </a>
</li>

<li id="montagem">
    <a data-bone="true" href="#montagem">
        <i class="icon-truck"></i> Montagem
    </a>
</li> -->