  <form id="form_produtos" class="fill-up">
    
      <div class="row-fluid">

        <div class="span6">

          <div class="padded">

            <div class="input">
              Nome
              <input type="text" name="nm_titu" id="nm_titu" required>
            </div>
            <div class="input">
              Email
              <input type="text" name="vend_email" id="vend_email" >
            </div>
            <div class="input">
              Contato
              <input type="text" name="vend_contato" id="vend_contato"  >
            </div>
            <div class="input">
              Telefone
              <input type="text" name="vend_fone" id="vend_fone"  >
            </div>
            

            <div class="input">
              Endereco
              <input type="text" name="vend_end" id="vend_end"  >
            </div>

           
            <div class="input">
              Cep
              <input type="text" name="vend_cep" id="vend_cep" >
            </div>

          </div>

        </div>

        <div class="span6">

          <div class="padded">

            
            <div class="input">
                Estado<br>
                <select name="cli_uf" id="cli_uf">
                  <option value="12">Acre</option>
                  <option value="27">Alagoas</option>
                  <option value="16">Amapá</option>
                  <option value="13">Amazonas</option>
                  <option value="29">Bahia</option>
                  <option value="23">Ceará</option>
                  <option value="53">Distrito Federal</option>
                  <option value="32">Espírito Santo</option>
                  <option value="52">Goiás</option>
                  <option value="21">Maranhão</option>
                  <option value="51">Mato Grosso</option>
                  <option value="50">Mato Grosso do Sul</option>
                  <option value="31">Minas Gerais</option>
                  <option value="15">Pará</option>
                  <option value="25">Paraíba</option>
                  <option value="41">Paraná</option>
                  <option value="26">Pernambuco</option>
                  <option value="22">Piauí</option>
                  <option value="33">Rio de Janeiro</option>
                  <option value="24">Rio Grande do Norte</option>
                  <option value="43">Rio Grande do Sul</option>
                  <option value="11">Rondônia</option>
                  <option value="14">Roraima</option>
                  <option value="42">Santa Catarina</option>
                  <option value="35">São Paulo</option>
                  <option value="28">Sergipe</option>
                  <option value="17">Tocantins</option>
                </select>
              </div>
            
              <div class="input">
                Cidade<br>
                <select name="cli_cid" id="cli_cid" data-depend="cli_uf"></select>
              </div>


            <div class="input">
              CNPJ/CPF
              <input type="text" name="vend_cnpj" id="vend_cnpj" >
            </div>

            <div class="input">
              Ins.Est.
              <input type="text" name="vend_ie" id="vend_ie" >
            </div>

            <div class="input">
              Obs.
              <textarea name="vend_obs" id="vend_obs" rows=4></textarea>
            </div>

          </div>

        </div>

    </div>
     
    </form>


