  <form id="form_produtos" class="fill-up">
    
      <div class="row-fluid">

        <div class="span6">

          <div class="padded">

            <div class="input">
              Nome
              <input type="text" name="nm_titu" id="nm_titu" required>
            </div>
            <div class="input">
              Email
              <input type="text" name="vend_email" id="vend_email" >
            </div>
            <div class="input">
              Contato
              <input type="text" name="vend_contato" id="vend_contato" required >
            </div>
            <div class="input">
              Telefone
              <input type="text" name="vend_fone" id="vend_fone" required >
            </div>
            

            <div class="input">
              Endereco
              <input type="text" name="vend_end" id="vend_end"  >
            </div>

            <div class="input">
              Cidade
              <input type="text" name="vend_cid" id="vend_cid"  >
            </div>
            



          </div>

        </div>

        <div class="span6">

          <div class="padded">

            <div class="input">
              Estado
              <select name="vend_uf" id="vend_uf"><option value="">selecione</option><option value="AC">AC</option><option value="AL">AL</option><option value="AM">AM</option><option value="AP">AP</option><option value="BA">BA</option><option value="CE">CE</option><option value="DF">DF</option><option value="ES">ES</option><option value="GO">GO</option><option value="MA">MA</option><option value="MG">MG</option><option value="MS">MS</option><option value="MT">MT</option><option value="PA">PA</option><option value="PB">PB</option><option value="PE">PE</option><option value="PI">PI</option><option value="PR">PR</option><option value="RJ">RJ</option><option value="RN">RN</option><option value="RO">RO</option><option value="RR">RR</option><option value="RS">RS</option><option value="SC">SC</option><option value="SE">SE</option><option value="SP">SP</option><option value="TO">TO</option></select>
            </div>
            <div class="input">
              Cep
              <input type="text" name="vend_cep" id="vend_cep" >
            </div>

            <div class="input">
              CNPJ/CPF
              <input type="text" name="vend_cnpj" id="vend_cnpj" required >
            </div>

            <div class="input">
              Ins.Est.
              <input type="text" name="vend_ie" id="vend_ie" >
            </div>

            <div class="input">
              Obs.
              <textarea name="vend_obs" id="vend_obs" rows=4></textarea>
            </div>

          </div>

        </div>

    </div>
     
    </form>


