  <form id="form_cheques" class="fill-up">
    
      <div class="row-fluid">

        <div class="span6">

          <div class="padded">

            <div class="input">
              Titular
              <input type="text" name="nm_titu" id="nm_titu" required search placeholder="">
            </div>
            <div class="input">
              Bom para
              <input type="text" name="dt_para" id="dt_para" required search class="fill-up hasDatepicker"  title="Obrigatorio" >
            </div>
            <div class="input">
              Data de repasse
              <input type="text" name="dt_repa" id="dt_repa" required class="fill-up hasDatepicker error">
            </div>
            <div class="input">
              Valor
              <input type="text" name="cu_val" id="cu_val" required class="fill-up hasDatepicker">
            </div>

          </div>

        </div>

        <div class="span6">

          <div class="padded">

            <!-- <div class="input">
              Banco
              <select name="city" id="city" placeholder="City" class="fill-up chzn-select chzn-done" style="display: none;">
                <option>Seattle</option>
                <option>Chicago</option>
                <option>New York</option>
              </select><div id="city_chzn" class="chzn-container chzn-container-single" style="width: 471px;"><a href="javascript:void(0)" class="chzn-single"><span>Seattle</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 469px; top: 30px;"><div class="chzn-search"><input type="text" autocomplete="off" style="width: 434px;"></div><ul class="chzn-results"><li id="city_chzn_o_0" class="active-result result-selected" style="">Seattle</li><li id="city_chzn_o_1" class="active-result" style="">Chicago</li><li id="city_chzn_o_2" class="active-result" style="">New York</li></ul></div></div>
            </div>

            <div class="input">
              Repassado para
              <select name="city" id="city" placeholder="City" class="fill-up chzn-select chzn-done" style="display: none;">
                <option>Seattle</option>
                <option>Chicago</option>
                <option>New York</option>
              </select><div id="city_chzn" class="chzn-container chzn-container-single" style="width: 471px;"><a href="javascript:void(0)" class="chzn-single"><span>Seattle</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 469px; top: 30px;"><div class="chzn-search"><input type="text" autocomplete="off" style="width: 434px;"></div><ul class="chzn-results"><li id="city_chzn_o_0" class="active-result result-selected" style="">Seattle</li><li id="city_chzn_o_1" class="active-result" style="">Chicago</li><li id="city_chzn_o_2" class="active-result" style="">New York</li></ul></div></div>
            </div> -->


          </div>

        </div>
      </div>
     
    </form>


